/* main styles */
/* 1 */ body {   
    color: white; /* Цвет шрифта, чтобы выделялся на песочном */ 
    background-color: #C2B280; /* Песочный цвет заднего фона */     
}

/* 10 */ .fixed {
    position: fixed; /* Делаю якорь для подъема вверх */ 
    top: 40%; /* От верха на 40% */ 
    right: 1%; /* От правого края на 1% */
    outline: 1px solid black; /* Добавил обводочку */
    background-color: white; /* Цвет заднего фона, чтобы выделялась иконка самолетика */
}

/* 10 */.header {
    display: flex; /* Для правильного расположения элементов */     
    justify-content: space-around; /* Для правильного расположения,равномерно распределить пространсво между ними */     
    align-items: center; /* Ссыоки в центр */     
    padding: 0% 5%;  /* Расширить заголовок сайта */
    font-weight: bold; /* Толстый шифт для ссылок */
    background: #cfb53b; /* Отделить его цветом */
    border:2px solid white; /* Добавил границу */
}

/* 10 */.logo {
    width: 40%; /* Ширина блока с логотипом */
}

/* 10 */.nav__link,
.submenu__link {
    text-decoration: none; /* Убираем подчеркивание у сслыок */
    color:white; /* Цвет шрифта, чтобы выделялся на песочном */
}

/* 10 */.nav__link:hover,
.submenu__link:hover {
    text-decoration: underline; /* Задаем при наведении подчеркивание у сслыок */
    color:olive; /* Задаем при наведении */
}

/* 10 */.logo__img {
    width: 20%; /* Приемлемый размер картинки логотипа сайта в контейнере */
    border-radius: 50%; /* Делаю лого круглым */
}

/* 10 */ .nav__item {
margin: 0 0 5%; 
position: relative; /* Относительно позиционируем, чтобы появлялось подменю при наведении */
}

/* 10 */.submenu {
    display: none; /* Подменю с телефоном и почтой для связи с агенством */
}

/* 30 */ .nav__item:hover  .submenu {
    position: absolute; /* Абсолютно позиционируем  */
    display: block; /* При наведении на Contact us выпадает подменюшка с телефоном и почтой */
    top: 83%;  /* Задаем положение относительно родителя */          
}

/* 11 */ h1.article__title {    
    font-size: 1.5rem;  /* Стандартный шрифт для заголовков Н1 */    
}

/* 10 */ .article__title {
    margin: 5% 0 5%; /* Сделал им отступы , чтобы немного отделить от остальных элементов */
    font-size: 1.375rem;  /* Стандартный шрифт для заголовков Н2 */
    text-align: center; /* Расположил заголовки по центру */
}

/* 10 */ .form {
    display: flex; /* Расположить элементы строкой в форме */
    justify-content: space-around; /* Распределяю по строке с равным расстоянием между элементами */
    flex-wrap: wrap; /* Для сохранения внешнего вида при уменьшении экрана, чтобы элементы переходили на другую строку */
    padding: 2%;  /* Сделал форме отступы , чтобы немного отделить от остальных элементов */
    border-radius: 2%;
    background-color: #35382e; /* Цвет для выделения формы на странице */
}

/* 10 */ .main {
    width: 67%;  /* Ширина чтобы по центру расположить*/    
    margin: 0 auto; /* Располагая по центру */
}

/* 10 */ .nav_vertical {    
    position: sticky; /* Чтобы при прокрутке замирало меню с оглавлением */
    top: 40%; /* На каком удалении от верха окна держать */    
    width: 16.4%; /* Ширина блока */   
    border-radius: 5%; /* Радиус границы блока */
    background-color: #35382e; /* Фон блока, для заметности на песочном фоне body */
}

/* 10 */ .article__section {
    padding: 5%; /* Паддинги для выделения секций */
    border-bottom: 2px solid teal; /* Нижняя граница для  красоты */
}

/* 10 */ .article__img { 
    width: 100%; /* Ширина картинки чтобы текст был внизу и так посчитал красивее */
    border-radius: 5%; /* Закругляем углы картинок */  
}

/* 10 */ .radio__label {
position: absolute; /* Позиционирую абсолютно */  
right: 45.8%; /* Позиционирую по центру */
border:2px solid white; /* Чтоб как кнопка */
cursor: pointer; /* Чтоб пользователь нажал */
}

/* 30 */.radio__button:checked~.form_signUp, 
/* 10 */.form_signIn,
/* 10 */.radio__button {
    display: none; /* Для второй страницы чтобы была возможность менять форму регистрации навход в кабинет , для уже зарегистрированного пользователя шаг 1 */
    appearance: none; /* Убираю кружечек у чекбокса */
}

/* 30 */.radio__button:checked~.form_signIn,
/* 10 */.form_signUp  {
    display: flex; /* Для второй страницы чтобы была возможность менять форму регистрации навход в кабинет , для уже зарегистрированного пользователя шаг 2 */
    flex-direction: column; /* Элементы ввода колонкой */
    width: 50%;  /* Ширина блока */    
    margin: 0 auto;  /*Блок в центре горизонталь*/
    text-align: center;  /*Элетенты в центре горизонталь*/  
}

/* 10 */.footer {
    width: 100%; /* Ширина футера */ 
    text-align: center; /* Футер текст по центру */ 
    padding: 5% 0%; /* Отступы для выделения футера */    
    border: 2px solid white; /* Граница футера для выделения футера */ 
    background-color: #cfb53b; /* Цвет для выделения футера */ 
}